body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#ff995f,#6163e1);
    text-align: center;
    color:rgb(197, 198, 195);
    margin: 50px;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #d44343;
    border-radius: 10px;
